
@font-face {
    font-family: interlight;
    src: url(../assets/fonts/Inter_18pt-Light.ttf);
}

@font-face {
    font-family: intermedium;
    src: url(../assets/fonts/Inter_18pt-Medium.ttf);
}

@font-face {
    font-family: interbold;
    src: url(../assets/fonts/Inter_18pt-Bold.ttf)
}

@font-face {
    font-family: interregu;
    src: url(../assets/fonts/Inter_28pt-Regular.ttf)
}

@font-face {
    font-family: interexbold;
    src: url(../assets/fonts/Inter_18pt-ExtraBold.ttf)
}
