@import url(nav.css);
@import url(fonts.css);
@import url(landingfather.css);
@import url(howitworks.css);
@import url(Boostproductivity.css);
@import url(reviews.css);
@import url(dta.css);
@import url(footter.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.carouselfather {
    width: 100%;
    height: 150vh;
    padding: 0 10%;
    margin-top: 170px;
}

.carouselchild {
    padding-top: 90px;
    width: 100%;
    height: 100%;
    background-color: #0D0D0D;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.exploretheapp {
    text-align: center;
    font-size: 18px;
    font-family: interregu;
    color: #7446F4;
}

.youtvirtual {
    text-align: center;
    font-size: 48px;
    font-family: interbold;
    color: white;
}

.takeasneak {
    text-align: center;
    font-size: 18px;
    font-family: interlight;
    color: rgba(255, 255, 255, 0.451);
}

.carouseltext {
    width: 100%;
}

.carouseltextchild {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.carousel {
    transform: translateX(-50px);
    margin-top: 70px;
    position: absolute;
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
    transition: 0.7s ease;
}

.slider {
    width: 220px;
}

.sliderimg {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carouselbuttons {
    margin-top: 75vh;
    display: flex;
    gap: 9px;
    justify-content: center;
    align-items: center;
}

.carouselbutton {
    background-color: #393939;
    width: 10px;
    height: 10px;
    border-radius: 99px;
}

.carouselbutton1 {
    background-color: #393939;
    width: 10px;
    height: 10px;
    border-radius: 99px;
}

.carouselbutton2 {
    background-color: #393939;
    width: 10px;
    height: 10px;
    border-radius: 99px;
}

.carouselbutton3 {
    background-color: #393939;
    width: 10px;
    height: 10px;
    border-radius: 99px;
}

.carouselbutton4 {
    background-color: #393939;
    width: 10px;
    height: 10px;
    border-radius: 99px;
}

.button__color {
    width: 12px;
    height: 12px;
    background-color: #7446F4;
}

.footexts {
    margin-top: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.footextschild {
    width: 70%;
    display: flex;
}

.footext {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.footexttitle {
    text-align: center;
    font-size: 18px;
    font-family: interbold;
    color: white;
}

.footextcontent {
    line-height: 20px;
    max-width: 90%;
    text-align: center;
    font-size: 18px;
    font-family: interlight;
    color: rgba(255, 255, 255, 0.499);
}

@media only screen and (max-width:1250px) {
    .carouselfather {
        padding: 0 2%;
    }

}

@media only screen and (max-width:970px) {
    .footextschild {
        width: 88%;
    }

}

@media only screen and (max-width:970px) {
    .footexttitle {
        font-size: 15px;
    }

    .footextcontent {
        font-size: 15px;
    }

}


@media only screen and (max-width:720px) {

    .carouselfather {
        height: 180vh;
    }

    .footextschild {
        flex-direction: column;
        gap: 30px;
    }

    .youtvirtual {
        max-width: 90%;
        font-size: 40px;
    }

    .takeasneak {
        font-size: 15px;
    }

}